/*
Error: Invalid CSS after "sans-serif": expected expression (e.g. 1px, bold), was "; /* 1 *\/"
        on line 10 of /Applications/XAMPP/xamppfiles/htdocs/Project/client/audi/lemans/admin_13_leman/css/normalize.sass

5:  * 2. Prevent iOS and IE text size adjust after device orientation change,
6:  *    without disabling user zoom.
7:  *\/
8: 
9: html {
10:   font-family: sans-serif; /* 1 *\/
11:   -ms-text-size-adjust: 100%; /* 2 *\/
12:   -webkit-text-size-adjust: 100%; /* 2 *\/
13: }
14: 
15: /**

Backtrace:
/Applications/XAMPP/xamppfiles/htdocs/Project/client/audi/lemans/admin_13_leman/css/normalize.sass:10
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1165:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/lexer.rb:221:in `expected!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/parser.rb:602:in `assert_done'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/parser.rb:63:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/parser.rb:183:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script.rb:27:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:1120:in `parse_script'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:710:in `parse_property'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:681:in `parse_property_or_rule'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:647:in `parse_line'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:525:in `build_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:544:in `block in append_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:543:in `each'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:543:in `append_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:534:in `block in build_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:527:in `each'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:527:in `build_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:544:in `block in append_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:543:in `each'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:543:in `append_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:396:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:268:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:415:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/sass:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"sans-serif\": expected expression (e.g. 1px, bold), was \"; /* 1 */\"\A         on line 10 of /Applications/XAMPP/xamppfiles/htdocs/Project/client/audi/lemans/admin_13_leman/css/normalize.sass\A \A 5:  * 2. Prevent iOS and IE text size adjust after device orientation change,\A 6:  *    without disabling user zoom.\A 7:  */\A 8: \A 9: html {\A 10:   font-family: sans-serif; /* 1 */\A 11:   -ms-text-size-adjust: 100%; /* 2 */\A 12:   -webkit-text-size-adjust: 100%; /* 2 */\A 13: }\A 14: \A 15: /**"; }
