.topnavlink {
	COLOR: #ffffff; FONT-SIZE: 10px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.topnavlink:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
TR {
	BORDER-COLLAPSE: collapse; COLOR: #333333; FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 10pt; page-break-inside: avoid
}
TD {
	BORDER-COLLAPSE: collapse; COLOR: #333333; FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 10pt; page-break-inside: avoid
}
TABLE {
	BORDER-COLLAPSE: collapse; COLOR: #333333; FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 10pt; page-break-inside: avoid
}
FORM {
	BORDER-COLLAPSE: collapse; COLOR: #333333; FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 10pt; page-break-inside: avoid
}
INPUT {
	BORDER-COLLAPSE: collapse; COLOR: #333333; FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 10pt; page-break-inside: avoid
}
BUTTON {
	BORDER-COLLAPSE: collapse; COLOR: #333333; FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 10pt; page-break-inside: avoid
}
SELECT {
	BORDER-COLLAPSE: collapse; COLOR: #333333; FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 10pt; page-break-inside: avoid
}
OPTION {
	BORDER-COLLAPSE: collapse; COLOR: #333333; FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 10pt; page-break-inside: avoid
}
TEXTAREA {
	BEHAVIOR: url(/cp/css/maxlength.htc); BORDER-COLLAPSE: collapse; COLOR: #333333; FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 10pt; page-break-inside: avoid
}
TABLE.border {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-COLLAPSE: collapse; BORDER-LEFT: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; COLOR: black; FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; page-break-inside: avoid
}
.tableheader {
	BACKGROUND-COLOR: #99cc33
}
.menubox {
	LINE-HEIGHT: 135%
}
.arrowlink {
	BACKGROUND-COLOR: #cccccc; COLOR: #ffffff; FONT-FAMILY: tahoma, verdana, arial; FONT-SIZE: 8pt; FONT-WEIGHT: bold; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; TEXT-DECORATION: none
}
.helplink {
	BACKGROUND-COLOR: #cccccc; COLOR: #ffffff; FONT-FAMILY: tahoma, verdana, arial; FONT-SIZE: 8pt; FONT-WEIGHT: bold; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; TEXT-DECORATION: none
}
.oarrow {
	COLOR: #ff9900; FONT-FAMILY: tahoma, verdana, arial; FONT-WEIGHT: bold
}
.greenhead {
	COLOR: #99cc33; FONT-FAMILY: verdana,geneva,helvetica,sans-serif; FONT-SIZE: 10.5pt; FONT-WEIGHT: bold
}
.normal {
	FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 10pt
}
.mediumlargeprint {
	FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 9pt
}
.mediumprint {
	FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 8pt
}
.smallprint {
	FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 7.5pt
}
.newsprint {
	FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 8pt; LINE-HEIGHT: 135%
}
.tinyprint {
	FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 10px
}
.dimsmallprint {
	COLOR: #777777; FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 8pt
}
.footer {
	FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 8pt
}
.subhead {
	COLOR: #333333; FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
.head {
	COLOR: #333333; FONT-FAMILY: verdana,arial,helvetica,sans-serif; FONT-SIZE: 14pt
}
.hr {
	BACKGROUND-COLOR: #cccccc; HEIGHT: 1px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
IMG.imageborder {
	BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
.tableheaderbg {
	BACKGROUND-COLOR: #999999; COLOR: #ffffff; FONT-WEIGHT: bold
}
.checkoutbg {
	BACKGROUND-COLOR: #ffffff
}
.tablebg {
	BACKGROUND-COLOR: #f5f5f5; COLOR: #000000
}
.tablebg2 {
	BACKGROUND-COLOR: #e9e9e9; COLOR: #000000
}
.sidebartext {
	COLOR: #000000
}
.sidebarbg {
	BACKGROUND-COLOR: #ffffff
}
.alertmessage {
	COLOR: #cc0000
}
.memberheaderbg {
	BACKGROUND-COLOR: #999999; COLOR: #ffffff; FONT-WEIGHT: bold
}
.navselect {
	BACKGROUND-COLOR: #333333; COLOR: #ffffff; FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.navsub {
	BACKGROUND-COLOR: #cccccc; FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 8pt
}
.nav {
	BACKGROUND-COLOR: #e5e5e5; FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 8pt
}
.hometext {
	FONT-FAMILY: verdana,geneva,arial,helvetica,sans-serif; FONT-SIZE: 8pt; LINE-HEIGHT: 14px; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.bullet {
	list-style-image:url('/cp/info/img/bullet.gif')
}
LI {
	list-style-image:url('/cp/info/img/bullet.gif')
}
.list_arrows {
	list-style-image:url('/cp/info/img/list_arrows.gif')
}
BODY {
	BACKGROUND-COLOR: #ffffff; COLOR: #333333; FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 9.5pt; MARGIN: 0px 0px
}
.textsmall {
	FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 7.5pt
}
.textmedium {
	FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 8.5pt
}
.text_subhead_allcaps {
	FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 9.5pt; FONT-WEIGHT: bold; TEXT-TRANSFORM: uppercase
}
.text_subhead {
	COLOR: #ff9900; FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 9.5pt; FONT-WEIGHT: bold
}
.text_standout {
	FONT-WEIGHT: bold
}
.text_3366cc {
	COLOR: #7DC83A
}
.text_666666 {
	COLOR: #666666
}
.text_ff9900 {
	COLOR: #ff9900
}
.text_ffffff {
	COLOR: #ffffff
}
.list_heading {
	FONT-WEIGHT: bold
}
.header_textsmall {
	FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 7.5pt
}
.header_3366cc {
	COLOR: #7DC83A
}
.header_3366cc_bold {
	COLOR: #7DC83A; FONT-WEIGHT: bold
}
.breadcrumb {
	FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 7.5pt
}
.leftnav_textsmall {
	FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 7.5pt
}
.leftnav_bold_3366cc {
	COLOR: #7DC83A; FONT-WEIGHT: bold
}
.leftnav_bold_ff9900 {
	COLOR: #ff9900; FONT-WEIGHT: bold
}
.leftnav_bold_ffffff {
	COLOR: #ffffff; FONT-WEIGHT: bold
}
.customize_heading {
	COLOR: #333333; FONT-SIZE: 9.5pt; FONT-WEIGHT: bold
}
.customize_price {
	COLOR: #333333; FONT-SIZE: 8.5pt
}
.narrowtitle {
	COLOR: #333333; FONT-SIZE: 8.5pt; FONT-WEIGHT: bold
}
.narrow {
	FONT-SIZE: 7.5pt
}
.narrowsmall {
	FONT-SIZE: 7.5pt
}
.customize_leftnav_textsmall {
	FONT-SIZE: 7.5pt
}
.storesmallprint {
	FONT-SIZE: 7.5pt
}
.pagetitle {
	COLOR: #ff9900; FONT-FAMILY: verdana, tahoma, arial, helvetica; FONT-SIZE: 16pt
}
.bordergray {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid
}
.imageborder1 {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid
}
.center {
	TEXT-ALIGN: center
}
.pageinfo_title {
	COLOR: #ff9933
}
.print {
	FONT-SIZE: 9.5pt; LINE-HEIGHT: 17px
}
.smallprint {
	FONT-FAMILY: verdana,geneva,helvetica,sans-serif; FONT-SIZE: 7.5pt
}
.smallerprint {
	FONT-FAMILY: verdana,geneva,helvetica,sans-serif; FONT-SIZE: 7.5pt
}
.headingprint {
	FONT-SIZE: 12pt
}
.subheadingprint {
	FONT-SIZE: 10.5pt
}
.descriptionprint {
	FONT-SIZE: 8.5pt; LINE-HEIGHT: 14px
}
.ff0000 {
	COLOR: #ff0000
}
A.ff0000:link {
	COLOR: #ff0000
}
A.ff0000:visited {
	COLOR: #ff0000
}
.orange {
	COLOR: #ff9933
}
.dotted {
	BORDER-BOTTOM-STYLE: dotted; BORDER-LEFT-STYLE: dotted; BORDER-RIGHT-STYLE: dotted; BORDER-TOP-STYLE: dotted
}
.padded9 {
	PADDING-BOTTOM: 9px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; PADDING-TOP: 9px
}
.footer_textsmall {
	FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 7.5pt
}
.contact_textmedium {
	FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 8.5pt
}
.basicshop_leftnav {
	FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 8.5pt
}
.ordertracking_textsmall {
	FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 7.5pt
}
A:link {
	COLOR: #7DC83A
}
A:visited {
	COLOR: #7DC83A
}
.linkcolor {
	COLOR: #7DC83A
}
A:hover {
	COLOR: #003399; TEXT-DECORATION: underline
}
A.nodecor:hover {
	COLOR: #003399; TEXT-DECORATION: underline
}
.nodecor {
	TEXT-DECORATION: none
}
.link_globalsublinks {
	COLOR: #ffffff; FONT-SIZE: 7.5pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.link_globalsublinks:link {
	COLOR: #ffffff; FONT-SIZE: 7.5pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.link_globalsublinks:visited {
	COLOR: #ffffff; FONT-SIZE: 7.5pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.link_globalsublinks:hover {
	COLOR: #7DC83A; FONT-SIZE: 7.5pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.link_globalfooter {
	TEXT-DECORATION: none
}
TABLE {
	BORDER-COLLAPSE: collapse; VERTICAL-ALIGN: top; border-spacing: 0
}
TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px; VERTICAL-ALIGN: top
}
.tableheading {
	BACKGROUND-COLOR: #999999; BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; COLOR: #ffffff; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px; VERTICAL-ALIGN: top
}
.tablecell1 {
	BACKGROUND-COLOR: #dddddd; BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px; VERTICAL-ALIGN: top
}
.tablecell2 {
	BACKGROUND-COLOR: #eeeeee; BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px; VERTICAL-ALIGN: top
}
.table_search_contentright {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid
}
.table_saved_products {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid
}
.tablebg_headerstretch {
	BACKGROUND-IMAGE: url('/cp/info/img/headerstretch_bg_clear.gif')
}
.tablebg_headerstretch_members {
	BACKGROUND-IMAGE: url('/cp/info/img/headerstretch_bg.gif')
}
.tablebg_headerstretch_external {
	BACKGROUND-IMAGE: url('http://www.cafepress.com/cp/info/img/headerstretch_bg.gif')
}
.tablebg_ffffff {
	BACKGROUND-COLOR: #ffffff
}
.tablebg_ededed {
	BACKGROUND-COLOR: #ededed
}
.tablebg_dddddd {
	BACKGROUND-COLOR: #dddddd
}
.tablebg_666666 {
	BACKGROUND-COLOR: #666666
}
.tablebg_99cc00 {
	BACKGROUND-COLOR: #B5CCFB
}
.tablebg_3366cc {
	BACKGROUND-COLOR: #7DC83A
}
.tablebg_ffe2c5 {
	BACKGROUND-COLOR: #ffe2c5
}
.tablebg_globalsublinks {
	BACKGROUND-COLOR: #B5CCFB
}
.tablebg_customize_leftnav {
	BACKGROUND-COLOR: #ededed; PADDING-BOTTOM: 7px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; PADDING-TOP: 7px
}
.align_middle {
	VERTICAL-ALIGN: middle
}
.divider_dotsvertical {
	border:0px none; padding:0px; BACKGROUND-IMAGE: url('/cp/info/img/dots_vertical.gif'); BACKGROUND-REPEAT: repeat-y; VERTICAL-ALIGN: top
}
.divider_dotshorizontal {
	border:0px none; padding:0px; BACKGROUND-IMAGE: url('/cp/info/img/dots_vertical.gif'); BACKGROUND-REPEAT: repeat-x; VERTICAL-ALIGN: top
}
.padding1 {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
.padding3 {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
.padding5 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.padding7 {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; PADDING-TOP: 7px
}
.padding10 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.padding12 {
	PADDING-BOTTOM: 12px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; PADDING-TOP: 12px
}
.padding15 {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 15px
}
.search_textsmall {
	FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 7.5pt
}
FORM {
	FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 8.5pt; MARGIN: 0px
}
SELECT {
	FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 8.5pt; MARGIN: 0px
}
OPTION {
	FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 8.5pt; MARGIN: 0px
}
INPUT {
	FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 8.5pt; MARGIN: 0px
}
TEXTAREA {
	FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 8.5pt; MARGIN: 0px
}
BUTTON {
	FONT-FAMILY: verdana,arial,geneva,sans-serif; FONT-SIZE: 8.5pt; MARGIN: 0px
}
.button_gosearch_dddddd {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px; HEIGHT: 22px; WIDTH: 28px
}
.button_track_ffe2c5 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px; HEIGHT: 23px; WIDTH: 66px
}