.tableText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.tableText:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}

.tableTextLogin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}


.tableTextLogin:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}


.tableTextLogout {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}


.bodyText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}

a.bodytext:hover
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	text-decoration: underline;
}


.bodyTextlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: underline;
}

a.bodytextlink:hover
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	text-decoration: none;
}

a.main
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	text-decoration: underline;
}

a.main:hover
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	text-decoration: none;
}

.blacktext
{
	font-family: Arial;
	font-size: 12px;
	color: black;
	text-decoration: none;
}

.botLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;

}

.bottomLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: underline;

}

a.bottomLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;

}

.link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: none;

}
.exLineSpace {
	line-height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}

.exLineSpace:hover {
	line-height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: red;
	text-decoration: Underline;
}

.titleText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}


.SmallBlackText
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Arial;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 10pt;
    TEXT-DECORATION: none;
}
a:hover.SmallBlackText
{
    FONT-SIZE: 9pt;
    COLOR: red;
    FONT-FAMILY: Arial;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
.SmallestBlackText
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Tahoma;
    FONT-WEIGHT: normal;
    LINE-HEIGHT: 10pt;
    TEXT-DECORATION: none;
}
a:hover.SmallestBlackText
{
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: Tahoma;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}


.SmallGrayText
{
    FONT-SIZE: 8pt;
    COLOR: gray;
    FONT-FAMILY: Tahoma;
    FONT-WEIGHT: normal;
    LETTER-SPACING: 0pt;
    TEXT-DECORATION: none;
}
a.SmallGrayText
{
    FONT-SIZE: 8pt;
    COLOR: gray;
    FONT-FAMILY: Tahoma;
    FONT-WEIGHT: normal;
    LETTER-SPACING: 0pt;
    TEXT-DECORATION: underline;
}
a:hover.SmallGrayText
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Tahoma;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}


.smallbuttons /* Used for site buttons */
{
	font-family: Tahoma;
	font-size: 8pt;
        color:#ffffff;
	FONT-WEIGHT: 700;//normal:#ffffff;
	LETTER-SPACING: 0pt;
	background: #668ad7;//#FFCECE;
	border-bottom: 2px solid #104A7B
}
.smallbuttonsbrown /* Used for site buttons */
{
	font-family: Tahoma;
	font-size: 8pt;
    FONT-WEIGHT: normal;
    LETTER-SPACING: 0pt;
	background: Gray;
	border-bottom: 1px solid #4D4231;
	border-right: 1px solid #4D4231;
	border-left: 1px solid #E1D4C1;
	border-top:1px solid #E1D4C1; 
	color:#ffffff;
	text-decoration:none;
	cursor: hand
}
.smallhighlightbuttons /* Used for site buttons */
{
	font-family: Tahoma;
	font-size: 8pt;
    FONT-WEIGHT: normal;
    LETTER-SPACING: 0pt;
	background: #FFDBA6;
	border-bottom: 1px solid #104A7B;
	border-right: 1px solid #104A7B;
	border-left: 1px solid #FFCA79;
	border-top:1px solid #FFCA79; 
	color:#000066;
	text-decoration:none;
	cursor: hand
}
.textarea /* Used for site textareas */
{
	font-family: Tahoma; 
	font-size: 9pt; 
	color: #000000;
	font-weight: normal; 
	border: 1px solid #000000;
	
}
.textbox /* Used for site textboxes */
{	
	padding-left: 5px;
	font-family: Tahoma; 
	font-size: 9pt; 
	color: #000000;
	font-weight: normal; 
	border: 1px solid #000000;	
}
.listbox /* Used for site listboxes */
{
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #000000;
	font-weight: normal; 
	border: 1px solid #000000;
	background-color: #F7FBFD;//#f0f0f0 
}
.combobox /* Used for site comboboxes */
{
	font-family: Tahoma; 
	font-size: 8pt; 
	color: #000000;
	font-weight: normal; 
	border: 1px solid #000000;
	background-color: #F7FBFD;//#f0f0f0;
; width: 150px
}
.newcombobox /* Used for site comboboxes */
{
	font-family: Tahoma; 
	font-size: 8pt; 
	border: 1px	solid #000000; 
	padding:1;
}
.ListText
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
.ListText:hover
{
    FONT-SIZE: 8pt;
    COLOR: darkblue;
    FONT-FAMILY: Arial;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}

.Header
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Arial;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}
.Header:hover
{
    FONT-SIZE: 10pt;
    COLOR: darkblue;
    FONT-FAMILY: Arial;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}
.SmallHeader
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial;
    FONT-WEIGHT: bold;
    LETTER-SPACING: -1pt;
    TEXT-DECORATION: none;
}
.WhiteSmallText
{
    FONT-SIZE: 8px;
    COLOR: white;
    FONT-FAMILY: Arial;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}

.SmallestGrayText
{
    FONT-SIZE: 7pt;
    COLOR: gray;
    FONT-FAMILY: Arial;
    FONT-WEIGHT: normal;
    LETTER-SPACING: 0pt;
    TEXT-ALIGN: justify;
    TEXT-DECORATION: none;
}
a:hover.SmallestGrayText
{
    FONT-SIZE: 7pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-WEIGHT: normal;
    LETTER-SPACING: 0pt;
    TEXT-DECORATION: none;
}

.SmallGrayText
{
    FONT-SIZE: 8pt;
    COLOR: gray;
    FONT-FAMILY: Tahoma;
    FONT-WEIGHT: normal;
    LETTER-SPACING: 0pt;
    TEXT-DECORATION: none;
}
a.SmallGrayText
{
    FONT-SIZE: 8pt;
    COLOR: gray;
    FONT-FAMILY: Tahoma;
    FONT-WEIGHT: normal;
    LETTER-SPACING: 0pt;
    TEXT-DECORATION: underline;
}
a:hover.SmallGrayText
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Tahoma;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}


.topolivegreenlinks{  font-family: Arial; font-size: 8pt; font-weight:bold ; color: #999999; text-decoration: none}
a.topolivegreenlinks:Hover{  font-family: Arial; font-size: 8pt; font-weight:bold ; color: #ffffff; text-decoration: none}

.topgraylinks{  font-family: Arial; font-size: 8pt; font-weight:bold ; color: #c0c0c0; text-decoration: none}
a.topgraylinks:Hover{  font-family: Arial; font-size: 8pt; font-weight:bold ; color: #ffffff; text-decoration: none}

.toplightlinks{  font-family: Arial; font-size: 8pt; font-weight:bold ; color: #000000; text-decoration: none}
a.toplightlinks:Hover{  font-family: Arial; font-size: 8pt; font-weight:bold ; color: #ffffff; text-decoration: none}

.toplinks{  font-family: Tahoma; font-size: 8pt; LINE-HEIGHT: 12pt; font-weight:normal ; color: black; text-decoration: underline}
a.toplinks:Hover{  font-family: Tahoma; font-size: 8pt; LINE-HEIGHT: 12pt; font-weight:normal ; color: red; text-decoration: none}

.smallhomelinks{  font-family: Tahoma; font-size: 8pt; LINE-HEIGHT: 12pt; font-weight:normal ; color: gray; text-decoration: underline}
a.smallhomelinks:Hover{  font-family: Tahoma; font-size: 8pt; LINE-HEIGHT: 12pt; font-weight:normal ; color: black; text-decoration: none}

.leftlistorange{  font-family: Arial; font-size: 10px; font-weight:normal ; color: #FF8040; text-decoration: none}
a.leftlistorange:Hover{  font-family: Arial; font-size: 10px; font-weight:normal; color: #000000; text-decoration: underline}

.leftlistlight{  font-family: Arial; font-size: 10px; font-weight:normal; color: #495778; text-decoration: none}
a.leftlistlight:Hover{  font-family: Arial; font-size: 10px; font-weight:normal; color: #000000; text-decoration: underline}

.leftlistdark{  font-family: Arial; font-size: 10px; font-weight:normal; color: #ffffff; text-decoration: none}
a.leftlistdark:Hover{  font-family: Arial; font-size: 10px; font-weight:normal; color: #FF8040; text-decoration: underline}

.newslinks{  font-family: Arial; font-size: 9pt; font-weight:normal ; color: gray; text-decoration: underline}
a.newslinks:Hover{  font-family: Arial; font-size: 9pt; font-weight:normal ; color: #000000; text-decoration: none}

.whiteheader{  font-family: Arial; font-size: 10pt; font-weight:bold ; color: #FFFFFF; text-decoration: none}
p.graytext{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: gray; text-decoration: none}
a.graytext{  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight:bold ; color: gray; text-decoration: underline}
a.graytext:Hover{  font-family: Arial; font-size: 8pt; font-weight:bold ; color: #ff0000; text-decoration: none}

a.redtext{  font-family: Arial; font-size: 8pt; font-weight:bold ; color: red; text-decoration: none}
a.redtext:Hover{  font-family: Arial; font-size: 8pt; font-weight:bold ; color: #000000; text-decoration: none}

.graylinks{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: #333300; text-decoration: underline}
a.graylinks:Hover{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: #336699; text-decoration: none}

.biggraylinks{  font-family: Arial; font-size: 9pt; font-weight:bold ; color: #808080; text-decoration: underline}
a.biggraylinks:Hover{  font-family: Arial; font-size: 9pt; font-weight:bold ; color: #336699; text-decoration: none}

.orangeheader{  font-family: Arial; font-size: 10pt; font-weight:bold ; color: #FF8040; text-decoration: underline}
a.orangeheader:Hover{  font-family: Arial; font-size: 10pt; font-weight:bold ; color: #ff9900; text-decoration: none}

.smallorangetext{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: #FF8040; text-decoration: none}
a.smallorangetext:Hover{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: #ff9900; text-decoration: none}

.mainorangeheader{  font-family: Arial; font-size: 10pt; font-weight:bold ; color: #2c56ad; text-decoration: none}

.blueheader{  font-family: Arial; font-size: 10pt; font-weight:bold ; color: #2C629A; text-decoration: none}
a.blueheader{  font-family: Arial; font-size: 10pt; font-weight:bold ; color: #2C629A; text-decoration: underline}
a.blueheader:Hover{  font-family: Arial; font-size: 10pt; font-weight:bold ; color: black; text-decoration: none}

.bigblueheader{  font-family: Arial; font-size: 10pt; font-weight:bold ; color:#9F0A0E; text-decoration: none}
a.bigblueheader:Hover{  font-family: Arial; font-size: 10pt; font-weight:bold ; color: black; text-decoration: none}

.linksbot{  font-family: Arial; font-size: 7.5pt; font-weight:normal ; color: #5E6974; text-decoration: none}
a.linksbot:Hover{  font-family: Arial; font-size: 7.5pt; font-weight:normal ; color: #7A87B8; text-decoration: none}

.text{  font-family: Arial; font-size: 10pt; font-weight:normal ; color: #336598; text-decoration: none}
.smalltext{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: #333300; text-decoration: none}

.textbold{  font-family: Arial; font-size: 13pt; font-weight:normal ; color: #336598; text-decoration: none}

.mlink{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: #00305E; text-decoration: none}
a.mlink:Hover{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: #00305E; text-decoration: none}

.linksbotb{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: #828370; text-decoration: none}
a.linksbotb:Hover{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: #4B4E17; text-decoration: none}

.sub{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: #000000; text-decoration: none}
a.sub:Hover{font-family: Arial; font-size: 8pt; font-weight:normal ; color: #A20404; text-decoration: none}
.heading{  font-family: Arial; font-size: 10pt; font-weight:bold ; color: #173B6D; text-decoration: none}

.subheading{  font-family: Arial; font-size: 9pt; font-weight:bold ; color: #173B6D; text-decoration: none}
.mtext{  font-family: Arial; font-size: 9pt; font-weight:normal ; color: #00305E; text-decoration: none}

.email{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: #00305E; text-decoration: underline}
a.email:Hover{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: #00305E; text-decoration: none}
.smallt{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: #00305E; text-decoration: none}
.smallh{  font-family: Arial; font-size: 8pt; font-weight:bold ; color: #00305E; text-decoration: none}

.white{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: #FFFFFF; text-decoration: none}

.black{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: #000000; text-decoration: none}

.subheadingl{  font-family: Arial; font-size: 8pt; font-weight:bold ; color: #173B6D; text-decoration:underline}
a.subheadingl:Hover{  font-family: Arial; font-size: 8pt; font-weight:bold ; color: #173B6D; text-decoration: none}

.sitemap{  font-family: Arial; font-size: 9pt; font-weight:bold ; color: #ED6615; text-decoration: underline}
a.sitemap:Hover{  font-family: Arial; font-size: 9pt; font-weight:bold ; color: #ED6615; text-decoration: none}

.sitemapg{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: #A5843B; text-decoration: underline}
a.sitemapg:Hover{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: #A5843B; text-decoration: none}

.dash{  font-family: Arial; font-size: 8pt; font-weight:normal ; color: #A5843B; text-decoration:none }

.SmallBlackTextproduct
{
    FONT-SIZE: 11;
    COLOR: #000000;
    FONT-FAMILY: Arial;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
.tborder1 {  border: #EDEDED; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

A.small:link		{color: #9F0A0E; font-family: Arial; font-size: 11px; font-weight: normal; text-decoration: none}
A.small:visited		{color: #9F0A0E; font-family: Arial; font-size: 11px; font-weight: normal; text-decoration: none}
A.small:active		{color: #FFCC99; font-family: Arial; font-size: 11px; font-weight: normal; text-decoration: none}
A.small:hover		{color: #9F0A0E; font-family: Arial; font-size: 11px; font-weight: normal; text-decoration: underline}


/* Font formatting */
.normal  	{color: #101010; font-family: Verdana; font-size: 11px; font-weight: normal; text-decoration: none;}
.red		{color: #9F0A0E; font-family: Verdana; font-size: 11px; font-weight: normal; text-decoration: none;}
.white		{color: #FFFFFF; font-family: Verdana; font-size: 11px; font-weight: normal; text-decoration: none;}
.honey		{color: #B9A101; font-family: Verdana; font-size: 11px; font-weight: bold; text-decoration: none;}
.orange		{color: #BF5B10; font-family: Verdana; font-size: 11px; font-weight: bold; text-decoration: none;}
.faint		{color: #95A076; font-family: Verdana; font-size: 11px; font-weight: bold; text-decoration: none;}

.semilarge	{color: #9F0A0E; font-family: Arial; font-size: 12px; font-weight: bold; text-decoration: none;}
.semilargen	{color: #9F0A0E; font-family: Arial; font-size: 12px; font-weight: normal; text-decoration: none;}
.quartlarge	{color: #9F0A0E; font-family: Arial; font-size: 13px; font-weight: bold; text-decoration: none;}
.large		{color: #9F0A0E; font-family: Arial; font-size: 14px; font-weight: bold; text-decoration: none;}
.ordered	{color: #9F0A0E; font-family: Arial; font-size: 11px; font-weight: normal; text-decoration: none;}


.product	{color: #303030; font-family: Arial; font-size: 11px; font-weight: normal; text-decoration: none;}
.featured   {color: #101010; font-family: Arial; font-size: 12px; font-weight: normal; text-decoration: none;}
.small  	{color: #101010; font-family: Arial; font-size: 10px; font-weight: normal; text-decoration: none;}
.smallfeat 	{color: #101010; font-family: Verdana; font-size: 10px; font-weight: normal; text-decoration: none;}
.smallbold 	{color: #101010; font-family: Verdana; font-size: 10px; font-weight: bold; text-decoration: none;}
.redcart	{color: #9F0A0E; font-family: Verdana; font-size: 10px; font-weight: normal; text-decoration: none;}
.redfeature	{color: #9F0A0E; font-family: Arial; font-size: 12px; font-weight: normal; text-decoration: none;}

.button
{
	color: #404040; font-family: Verdana; font-size: 10px; font-weight : normal; text-decoration: none;
	background color: #C6C6EC6;
	border-color: #7DC83A;
	border-style : outset;
	border-width : 1px;
}

.button2
{
	color: #404040; font-family: Tahoma; font-size: 10px; font-weight : normal; text-decoration: none;
	background color: #FFFFFF;
	border-color: #DDDDDD;
	border-style : solid;
	border-width : 1px;
}

.cattitle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000066; font-weight: bold; text-decoration: none}